body {
    background-color: black;
    transition: 0.5s;
}

h1 {
    padding-top: 100px;
    text-align: center;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    color: white;
    font-style: italic;
}

.button {
    border-radius: 12px;
    font-size: 20px;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    margin: 20px;
}

.problem {
    padding: 10px 40px;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 20px
}

.form1, .form2, .p1 {
    display: block;
    text-align: center;
    opacity:0;
}

.container {
    text-align: center;
    margin: auto;
    position: relative;
    height: 200px;
    width: 300px;
}

.img {
    z-index: 1;
}

.sadproblem {
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}

a{
     color: red;
}

