html{
    height: 100%;
}

input[type=text] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
}

body {
  
   margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background: radial-gradient(#282342, black);
    height: 100%;

    transition: 0.5s;
}


@keyframes reveal {
    from    {opacity: 100}
    to      {opacity: 0}
}

h1 {
    padding-top: 100px;
    text-align: center;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    color: white;
    font-style: italic;
}

.button {
    border-radius: 12px;
    font-size: 20px;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    margin: 20px;
}

.problem {
    padding: 10px 40px;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 20px
}

.form1, .form2, .p1 {
    display: block;
    text-align: center;
    opacity:0;
}

.container {
    text-align: center;
    margin: auto;
    position: relative;
    height: 200px;
    width: 300px;
}

@keyframes resizeimage {
    from    {width: 100%;}
    to      {width: 50%;}
}

@keyframes resizetext {
    from    {font-size: 20px;}
    to      {font-size: 10px;}
}

@keyframes moveUp {
    from {top: 50%;}
    to {top: 30%;}
}

.img {
    z-index: 1;
    animation-name: resizeimage;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}



.sadproblem {
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 20px;
    
    z-index: 100;
    animation-name: resizetext;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.sadproblemdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: moveUp;
    animation-duration: 10s;
    animation-fill-mode: forwards;

}

a{
     color: red;
}

